langchain # ***
langchain-core # ***
langchain-community # ***
pypdf # ***
pymupdf # ***
sentence-transformers # Embedding models from Huggingface
chromadb # Vector Database
faiss-cpu # Vector Store Package